<main class="container">
<div class="position-relative py-2 px-4 text-bg-secondary border ">
    <h1>Materias de informatica</h1>
  </div>
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://images.freeimages.com/images/large-previews/22e/pc-hardware-detail-1241583.jpg?fmt=webp&w=500" class="d-block mx-auto w-100" style="height: 600px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cibernética</h5>
          <p>El objetivo de esta rama es el de estimular la comprensión de los sistemas para hacerlos
             más eficientes y productivos. Estudia los sistemas de control, y la comunicación de las personas y las máquinas.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://media.istockphoto.com/id/1311598658/es/foto/empresario-negocia-mercado-de-valores-en-l%C3%ADnea-en-pantalla-teblet-concepto-de-inversi%C3%B3n-digital.jpg?s=612x612&w=0&k=20&c=5sYDHhjv2qQfNnTHnytKNxe-qDlhYh8GyOt3tzEMpyU=" class="d-block mx-auto w-100"  style="height: 600px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Robótica</h5>
          <p>La robótica es la rama de la informática que se encarga del diseño, ensamblaje y operaciones de los robots. 
            Estos suelen ser programados para ahorrar tiempo y sustituir a los humanos en trabajos costosos, pesados, riesgosos y repetitivos</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/id/1669453534/es/foto/renderizado-3d-cloud-computing-circuit-board-background.webp?b=1&s=612x612&w=0&k=20&c=tfJi62FMbVlLTIlAOVb2_d8LdG8RppqPPP7-FMeuKXM=" class="d-block mx-auto w-100"  style="height: 600px;"alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Computación</h5>
          <p>Es la rama que se encarga de la creación de computadoras para lograr objetivos específicos, por ejemplo, una calculadora.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h2>
    ¿En qué consiste la Carrera de Informática y Sistemas?
  </h2>
  <p>
    La carrera de Informática y Sistemas forma estudiantes en la gestión, el mantenimiento, el desarrollo y la innovación de todo aquello que engloba el ámbito de la tecnología. Es indispensable que un estudiante de Ingeniería en Informática posea interés en sistemas informáticos, algoritmos y programación, software, hardware y sistemas de organización de datos.

Durante la cursada, el estudiante aprende a liderar y gestionar un equipo y la capacidad de distribuir trabajo en función de la realización de los objetos propuestos. También desarrolla conocimientos para gestionar proyectos por objetivos con metodologías ágiles de trabajo.
  </p>
    <h2>¿Cuánto gana un egresado de la Carrera de Informática y Sistemas?</h2>
    <table class="table table-info table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cargo</th>
          <th scope="col">Salario Base (USD)</th>
          <th scope="col">Vacaciones (días)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Programador Junior</td>
          <td>$50,000</td>
          <td>15</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Programador Senior</td>
          <td>$80,000</td>
          <td>20</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Arquitecto de Software</td>
          <td>$120,000</td>
          <td>25</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Ingeniero de Software</td>
          <td>$100,000</td>
          <td>18</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Desarrollador Web</td>
          <td>$70,000</td>
          <td>22</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Analista de Datos</td>
          <td>$90,000</td>
          <td>20</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Líder Técnico</td>
          <td>$110,000</td>
          <td>23</td>
        </tr>
      </tbody>
    </table>
    <h2>Otras carreras realcionadas a informatica</h2>
    <div class="d-flex flex-wrap">
      <!-- Carrera 1: Ingeniería en Informática -->
      <div class="card col mb-4" style="max-width: 18rem;">
        <img class="card-img-top carta-imagen" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy_Wlf8blX01VW_ebfVWuhtyL6AY3KCduaKA&s" alt="">  
        <div class="card-body">
          <h5 class="card-title">Ingeniería en Informática</h5>
          <p class="card-text">Salario promedio: $80,000 USD</p>
          <p class="card-text">La Ingeniería en Informática se encarga del diseño, desarrollo y mantenimiento de sistemas informáticos, software y aplicaciones.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ejemplo de enlace: <a href="https://www.example.com">Enlace</a></li>

        </ul>
      </div>
    
      <!-- Carrera 2: Ciencias de la Computación -->
      <div class="card col mb-4" style="max-width: 18rem;">
        <img class="card-img-top carta-imagen" src="https://i.ytimg.com/vi/4pqWxJ702s4/maxresdefault.jpg" alt="">  
        <div class="card-body">
          <h5 class="card-title">Ciencias de la Computación</h5>
          <p class="card-text">Salario promedio: $85,000 USD</p>
          <p class="card-text">Las Ciencias de la Computación se enfocan en los fundamentos teóricos de la computación y el desarrollo de software.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ejemplo de enlace: <a href="https://www.example.com">Enlace</a></li>

        </ul>
      </div>
    
      <!-- Carrera 3: Ingeniería de Software -->
      <div class="card col mb-4" style="max-width: 18rem;">
        <img class="card-img-top carta-imagen" src="https://www.um.es/documents/1083928/40713896/ingenieria-software.jpg/ed5b47c2-e299-94d9-a01f-f5c5ff6d3144?t=1687936125102" alt="">  
        <div class="card-body">
          <h5 class="card-title">Ingeniería de Software</h5>
          <p class="card-text">Salario promedio: $90,000 USD</p>
          <p class="card-text">La Ingeniería de Software se enfoca en la aplicación de ingeniería al desarrollo, mantenimiento y evolución de software de calidad.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ejemplo de enlace: <a href="https://www.example.com">Enlace</a></li>

        </ul>
      </div>
    
      <!-- Carrera 4: Inteligencia Artificial -->
      <div class="card col mb-4" style="max-width: 18rem;">
         <img class="card-img-top carta-imagen" src="https://apd-images.imgix.net/uploads/sites/2/2021/01/ramas_ia_1.jpg?auto=compress%2Cformat&crop=edges&fit=crop&ixlib=php-1.1.0&w=900&s=0655022506ec76e0f2e64d5735c1465f" alt="">  
        <div class="card-body">
          <h5 class="card-title">Inteligencia Artificial</h5>
          <p class="card-text">Salario promedio: $95,000 USD</p>
          <p class="card-text">La Inteligencia Artificial se centra en el desarrollo de sistemas y algoritmos que imitan la inteligencia humana.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ejemplo de enlace: <a href="https://www.example.com">Enlace</a></li>

        </ul>
      </div>
    
      <!-- Carrera 5: Seguridad Informática -->
      <div class="card col mb-4" style="max-width: 18rem;">
         <img class="card-img-top carta-imagen" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa1N_s6Kczj1OWVDoeikvHLt3acTTn2qfk4w&s" alt="">  
        <div class="card-body">
          <h5 class="card-title">Seguridad Informática</h5>
          <p class="card-text">Salario promedio: $100,000 USD</p>
          <p class="card-text">La Seguridad Informática se concentra en la protección de sistemas informáticos, redes y datos contra amenazas y ataques cibernéticos.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ejemplo de enlace: <a href="https://www.example.com">Enlace</a></li>
    
        </ul>
      </div>
    </div>
    
</main>